<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/score.css">
</head>
<body>
<div class="container">
    <form method="post" novalidate>
        {% csrf_token %}
        {% for fd in form %}
            <div>
            <p>{{ forloop.counter }}：{{ fd.label }}{{ fd.errors.0 }}</p>
            {{ fd }}
            </div>
            <hr>
        {% endfor %}
        <button type="submit" class="btn btn-success">提交</button>
    </form>
</div>
</body>
</html>